@model dynamic
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        <a href="Login">Login</a><br />
        <a href="UserDetail">UserDetail</a><br />
        <a href="UserEdit">UserEdit</a><br />
        <a href="UserEdit_01">UserEdit</a><br />
    </div>
</body>
</html>
